.choiceWrapper {
    display: flex;
    min-width: 400px;    
    border-radius: 4px;
    border: 1px solid #008000;
    background-color: white;
    padding: 4px;
    justify-content: center;
    align-items: center;
}
.question-enter {
    opacity: 0;
    transform: translateX(400px) scale(0.1);
}
.question-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.question-exit {
    opacity: 1;
}
.question-exit-active {
    opacity: 0;
    transform: translateX(-400px) scale(0.1);
    transition: opacity 300ms, transform 300ms;
}
  
  