.App {
    text-align: center;
}

.header-description {
    background-color: green;
    text-align: center;
    color: white;
    font-size: 14pt;
    font-weight: bold;
}

.footer-description {
    text-align: center;    
    font-size: 12pt;
    background: #777;
}

.header-description {
    text-align: center;    
    font-size: 18pt;
    font-weight: bold;
    color: white;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.questionHistory {
    width: 400px !important;
    flex: 0 0 400px !important;
    max-width: 400px !important;
    padding: 16px;
}