.App {
    text-align: center;
}

.header-description {
    background-color: green;
    text-align: center;
    color: white;
    font-size: 14pt;
    font-weight: bold;
}

.footer-description {
    text-align: center;    
    font-size: 12pt;    
}

#components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}